:root{
    --color-light: rgb(255,255,255);
    --color-yellow: rgb(254,209,54);
    --color-light-gray: rgb(245,245,245);
    --color-dark-gray: rgb(119,119,119);
    --color-black: rgb(0,0,0); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header{
    background: rgb(93,92,95) url("../images/bg-header.jpg") top no-repeat;
}

header div{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
}

header div button{
    background-color: rgb(254,209,54);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

header span, header h1, header button{
    margin: 0 auto;
}

header span{
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 1.2rem;
}

header h1{
    font-size: 3rem;
    width: 45rem;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 50rem;
    margin: 0 auto;
}

nav ul{
    color: #FFFFFF;
    list-style: none;
    display: flex;
}

nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    font-size: 0.7rem;
}

.alcance-clientes{
    align-items: center;
    width: 45rem;
    margin: 0 auto;
    text-align: center;
}

.alcance-clientes .title{
    padding: 1rem;
}

.alcance-clientes div{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.alcance-clientes p{
    color: rgb(119,119,119);
}

.alcance-clientes .title{
    color: rgb(254,209,54);
}

.alcance-clientes ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem auto;
}

.alcance-clientes li{
    width: 10rem;
}

.alcance-clientes button{
    background-color: rgb(254,209,54);
    color: #FFFFFF;
    border-style: none;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.colaboradores{
    background-color: rgb(245,245,245);
    padding: 1rem;
    text-align: center;
}

.colaboradores h1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.colaboradores span{ 
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(119,119,119);
}

.colaboradores ul{
    display: flex;
    list-style: none;
}

.colaboradores .images p{
    font-weight: bold;
}

.colaboradores .images{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.colaboradores .images li{
    width: 13rem;
}

.colaboradores .images img{
    width: 10rem;
    border-radius: 6rem;
    border: 0.5rem solid #FFFFFF;
}